body {
    background-color: #cccccc;
	background-size: cover;
	background-position: center;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
    background-color: #cccccc;
    background-repeat:repeat-y;
    background-size: cover;
    background-position: center;
    background-image: url("bakgrunn.jpg");

}

header {
	background-color: #13106D;
	color: #ebdf37;
	padding: 10px;
	position: relative;
    justify-content: center;
    text-align: center;
}
nav {
    background-color: #13106D;
    color: #ebdf37;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 10px;
    position: relative;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  
  nav a:hover {
    color: #ebdf37;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #13106D;
 
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li {
    margin: 0;
  }
  
  .dropdown-menu a {
    padding: 10px;
  }
  
h1 {
	margin: 0;
	font-size: 36px;
	display: inline-block;
	vertical-align: middle;
}

.launch-button {
	padding: 100px 20px;
	text-align: center;
}

button {
	background-color: #4CAF50;
	color: #fff;
	padding: 16px 32px;
	border: none;
	font-size: 24px;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	display: inline-block;
	vertical-align: middle;
}

button:hover {
	background-color: #3e8e41;
}
